body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div header, div footer {
    height: 50px;
    background-color: #666;
}

div main {
    height: 100vh;
    background-color: #ccc;
}