.parent {
    max-width: 600px;
    height: 110px;
    margin: 0 auto;
    background-color: #ccc;
}

h1, h4 {
    font-weight: bold
}

h1 {
    font-size: 32px;
    text-align: center;
}

h4 {
    font-size: 18px;
    margin-left: 460px;
}

.child {
    width: 100px;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    font-size: 42px;
}

#a, #b, #c, #d, #e {
    height: 68px;
}

#i .child {
    width: 200px;
}

#j .orange {
    align-self: flex-end;
}

#j .child {
    height: 68px;
}

#k .orange {
    order: -2;
}

#k .red {
    order: 2;
}


#l .red {
    flex: auto;
}

#l .orange {
    flex: auto;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

#a {
    display: flex;
    justify-content: flex-start;
}

#b {
    display: flex;
    justify-content: flex-end;
}

#c {
    display: flex;
    justify-content: center;
}

#d {
    display: flex;
    justify-content: space-between;
}

#e {
    display: flex;
    justify-content: space-around;
}

#f {
    display: flex;
    align-items: flex-start;
}

#g {
    display: flex;
    align-items: flex-end;
}

#h {
    display: flex;
    align-items: center;
}

#i {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
}

#j {
    display: flex;
}

#k {
    display: flex;
    order: 2;
}

#l {
    display: flex;
    flex: auto;
}