body {
    background-color: hsl(212, 29%, 19%);
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(211, 36%, 84%);
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid hsl(39, 100%, 50%);
    border-radius: 5px;
}

header {
    text-align: center;
    padding: 30px 0;
}

nav {
    display: flex;
    flex-direction: row;
    height: 40px;
    max-width: 1200px;
    background-color: hsl(212, 29%, 19%);
}

hr {
    width: 100%;
}

footer {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

main div {
    padding: 0 10px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    list-style: none;;
    width: 100%;
    padding: 0 10vh;
}

li {
    display: flex;
    align-items: center;
    text-align: center;
}

a, a:hover, a:focus, a:active, a:visited {
    color: hsl(212, 29%, 79%);
    text-decoration: none;
}