.parent {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ccc;
}

h1, h4 {
    font-weight: bold
}

h1 {
    font-size: 32px;
    text-align: center;
}

h4 {
    font-size: 18px;
    margin-left: 460px;
}

.child {
    width: 100px;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    font-size: 42px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

#a {
    display: flex;
    flex-direction: row;
}

#b {
    display: flex;
    flex-direction: row-reverse;
}

#c {
    display: flex;
    flex-direction: column;
}

#d {
    display: flex;
    flex-direction: column-reverse;
}