* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: hsl(36, 19%, 95%);
}


header {
    height: 50px;
    background-color: hsl(166, 92%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(24, 24, 24);
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    list-style: none;
    padding: 20px;
}

.product-content {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 91%);
    width: 340px;
    border-radius: 15px;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
}

.vertical {
    height: 60%;
    width: 80%;
}

.horizontal {
    height: 80%;
    width: 60%;
}

.image-container img {
    margin: 15px auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-top: 20px;
    border-radius: 15px;
    padding-bottom: 20px;
}

.product-info div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-info div button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: hsl(166, 92%, 26%);
    color: white;
    font-size: medium;
}

.product-info div button:hover {
    cursor: pointer;
    background-color: hsl(166, 92%, 20%);
}

.product-info div input {
    width: 60px;
    height: 33.5px;
    border: 3px solid hsl(166, 92%, 26%);
    border-radius: 25px 0 0 25px;
    text-align: center;
    margin-left: 50px;
    background-color: white;
}

.product-info p {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(24, 24, 24);
}